*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 90%;
    max-width: 800px;
    height: 600px;
    margin: 30px auto;
    outline: 3px solid orange;
}

.box{
    width: 80px;
    height: 80px;
    
}
